{% extends "base.twig" %}

{% block content %}
    <section class="blog section">
        <div class="container">
            <div class="columns">
                {% for post in posts %}
                    {% include 'components/article.twig' %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% if posts.pagination.pages %}
        {% include 'components/pagination.twig' %}
    {% endif %}
{% endblock %}
