{% extends "base.twig" %}

{% block content %}

<div class="section container">
    <div class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        {{ post.content }}
    </div>
</div>

{% endblock %}