{% extends "base.twig" %}

{% block content %}

    <section class="section-tours section" id="post-{{ post.ID }}">
        <div class="container">
            {% include 'partials/tours-carousel.twig' %}
        </div>
    </section>
    <section class="content section">
        <div class="container">
            {{ post.content }}
        </div>
    </section>

{% endblock %}