{% extends "base.twig" %}

{% block content %}

    <section class="section-contact section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {{ post.content }}
                </div>
                <div class="column">
                    {{ contact_shortcode }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}