
.blog

    &__item

        &-thumbnail
            background: $gray-dark center / cover no-repeat
            min-height: 190px
            margin-bottom: 25px

        &-title
            @extend .title
            margin-bottom: 8px !important

            +mobile
                font-size: 28px

        &-meta
            margin-bottom: 25px