
.tickets

    .intro


    .purchase

        &__step
            margin-bottom: 50px

            &-label
                border-bottom: 1px solid $gray-light
                font-family: $font-text
                font-size: 18px
                color: #5D5D5D
                letter-spacing: 0.5px
                margin-bottom: 15px