
.wpcf7-form
    background: $off-light
    padding: 40px

    > p
        @extend .field

    h2, h3, h4, h5, h6
        @extend .title
        color: $blue
        font-weight: 500

        +mobile
            font-size: 1.5rem        

    h2
        @extend .is-2
    h3
        @extend .is-3
    h4
        @extend .is-4
    h5
        @extend .is-5
    h6
        @extend .is-3

    label
        @extend .label

    .wpcf7-form-control-wrap
        @extend .control
    
    input
        &:not([type="submit"])
            @extend .input
            box-shadow: none

        &.wpcf7-submit
            @extend .button
            @extend .is-link
            @extend .is-rounded
            font-family: $font-text
            letter-spacing: 1.75px
            text-align: center
            padding: 0 25px
            text-transform: uppercase
            font-weight: 700
            font-size: 14px

    textarea
        @extend .textarea
        box-shadow: none
        
    span.wpcf7-not-valid-tip
        color: #f00
        font-size: 13px
        margin-top: 10px

    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing
        border: 2px solid $yellow
        background: $yellow
        color: $gray-dark