nav.navbar
              
    +desktop
        min-height: 80px

        a.navbar-item
            padding: 0 1rem

        .second-level
            li
                position: relative

                a.has-children::after
                    +arrow($link)
                    margin-top: -0.375em
                    right: 1.125em
                    top: 50%
                    transform: rotate(-135deg)
                    font-size: 85%
                    &:hover
                        .third-level
                            display: block!important

                .third-level
                    left: 100%
                    top: -6px
                    display: none!important
                    border-top-right-radius: 5px

    +touch
        ul.navbar-item
            padding-bottom: 1rem

    .navbar-dropdown
        padding: 0

    .second-level
        a
            padding-left: 2rem
            padding-right: 2rem

        .third-level
            padding: 0
            a
                padding-left: 3rem
                font-size: 95%

    .navbar-brand
        align-items: center
        padding-left: 15px
        padding-right: 15px

        +desktop
            top: 20px

        .logo
            width: 120px
            height: auto
            max-height: none !important
            z-index: 999
            position: absolute
            top: 0

            +tablet
                width: 200px    
                top: -34px

            +desktop
                width: 330px                

    .navbar-menu
        background: $yellow
        text-align: right
        color: $white
        text-transform: uppercase
        font-weight: 500
        font-size: 16px
        color: $gray-dark
        letter-spacing: 1px 

        +desktop
            background: transparent

        .navbar-item
            &:hover
                color: #000
                background: transparent            


.navbar-top
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    padding-left: 15px
    padding-right: 15px
    margin-top: 15px
    margin-bottom: 10px

    +tablet
        margin-bottom: 0px
        margin-top: 20px    
        justify-content: flex-end

    +desktop
        padding-left: 0
        padding-right: 0
    
    .lang-menu
        text-align: center

        +tablet
            text-align: right
        
        .navbar-item
            display: inline-flex
            font-size: 14px
            color: $gray-dark
            &:hover
                color: inherit

            img
                width: 16px
                height: 16px
                margin-right: 5px

            span
                +mobile
                    display: none

    .account-menu
        margin-left: 10px

        .navbar-item
            display: inline-flex
            padding: 10px
            &:hover
                background-color: #F5F5F5

            img
                width: 18px
                height: 18px
