<div class="navbar-top">

  <div class="lang-menu">
    {% for item in lang_menu.get_items %}
      <a class="navbar-item" href="{{ item.link }}">
        {{ item.title }}
      </a>
    {% endfor %}
  </div>

  <div class="account-menu">
    <a class="navbar-item" href="#">
      <img src="{{ theme.link }}/resources/assets/images/icon-user-solid.png" alt="User icon">
    </a>
    <a class="navbar-item" href="#">
      <img src="{{ theme.link }}/resources/assets/images/icon-cart-gray.png" alt="Cart icon">
    </a>
  </div>

</div>

<nav class="navbar">
  {% include 'components/navbar/_navbar-brand.twig' %}
  {% include 'components/navbar/_navbar-menu.twig' %}
</nav>
