body
    font-family: $font-text
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #5D5D5D

html,
body
    position: relative
    overflow-x: hidden


%headline
    font-family: $font-title
    font-size: 1.5rem

    +tablet
        font-size: 2.5rem

    +desktop
        font-size: 3rem

.has-text-yellow
    color: $yellow

.has-text-white
    color: #fff

.icon-cart
    &.is-white
        background-image: url($images + '/icon-cart-white.png')
        background-size: contain
        background-repeat: no-repeat
        width: 18px
        height: 16px