footer.footer
  background-color: $bc-primary
  background-image: url($images + "/texture-blue-carnival.jpg")
  background-repeat: repeat
  background-size: 544px 388px
  min-height: 325px
  color: $white

  a
    color: $white

    &:hover
      color: $yellow



