.single
  .main-article
    position: relative
    
    &__title
      @extend .title
      +mobile
        font-size: 1.5rem
        margin-bottom: 10px
      
      +tablet
        font-size: 3rem

  .edit-post-link
    margin-top: -1rem
    margin-bottom: 1.5rem
    i
      vertical-align: middle
      font-size: 1rem
    a
      color: $dark-primary
