// COLORS
$bc-primary:        #2376B3
$bc-dark-primary:   #1B5179
$bc-secondary:      #46B865

// BULMA OVERDRIVE
$primary:           $bc-primary
$dark-primary:      $bc-dark-primary
$link:              $bc-primary
$link-focus-border: $bc-primary
$blue:              $bc-primary
$green:             $bc-secondary
$green-light:       #2B9AE5
$yellow:            #FED040
$orange:            #FF6A2C
$pink:              #FB308B
$purple:            #5F51E4
$off-light:         #f0f2f6
$gray-light:        #989898
$gray-dark:         #595656

// SOCIAL MEDIA COLORS
$tumblr:            #2C394C
$facebook:          #3B5999
$linkedin:          #0077B5
$twitter:           #1DA1F3
$pinterest:         #CB2026
$google-plus:       #DD4C3B
$reddit:            #FF4501

// HELPER URL
$images: '../images'

// FONT-AWESOME FONT PATH
$fa-font-path: "../../../node_modules/font-awesome/fonts"

// Fonts
$font-title: 'Knewave', cursive
$font-text: 'Cabin', sans-serif
