
.hero

    &__body
        height: 108px

        &-title
            font-family: $font-title
            font-size: 48px
            color: #fff
            letter-spacing: 1.71px
            text-align: right
            position: relative
            top: 18px
            padding-right: 30px
            padding-left: 30px

            +mobile
                font-size: 28px
                line-height: 32px

            +desktop
                padding-left: 0
                padding-right: 0
